/* App.css */

.App {
  text-align: center;
  margin: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  textarea {
    height: 300px;
    font-size: 1.2rem;
  }

  p {
    font-size: 1.5rem;
  }
}
